<%= @consultant.email %>
<%= @consultant.admin ? 'Administrator' : 'Agent' %>

<% if @edit_access %>
  <form action='/consultants/<%= @consultant.id %>/edit' method='GET'><input type='submit' value='Edit'></form>
<% elsif @session_privilege == 'admin' %>
  <form action='/consultants/<%= @consultant.id %>/edit' method='GET'><input type='submit' value='Edit'></form>
  <form action='/consultants/<%= @consultant.id %>' method='POST'>
    <input type="hidden" name="_method" value="DELETE">
    <input type='hidden' value=''>
    <input type='submit' value='Delete'>
  </form>
<% end %>

<% if @consultant.tickets %>
  <h3>Tickets</h3>
  <% @consultant.tickets.each do |ticket| %>
    <a href='/tickets/<%= ticket.id %>'><%= ticket.name %></a><br />
  <% end %>
<% end %>
