<form action='/tickets/<%= @ticket.id %>' method="POST">
  <input type="hidden" name="_method" value="PUT">

  Name: <input type='text' name='name' value='<%= @ticket.name %>'><br />
  Details: <textarea name='details' ><%= @ticket.details %></textarea><br />
  Status: <select id="status" name="status">
    <% if @ticket.complete %>
      <option value="open">Open</option>
      <option value="complete" selected="selected">Complete</option>
    <% else %>
      <option value="open" selected="selected">Open</option>
      <option value="complete">Complete</option>
    <% end %>
  </select>

  <% if @session_type == 'consultant' %>
    Client: <select id="client" name="client">
      <% @clients.each do |client| %>
      <% if @ticket.client_id == client.id %>
        <option value='<%= client.email %>' selected='selected'><%= client.email %></option>
      <% else %>
        <option value='<%= client.email %>'><%= client.email %></option>
      <% end %>

      <% end %>
    </select>
    Consultant: <select id="consultant" name="consultant">
      <% @consultants.each do |consultant| %>
        <% if @ticket.consultant_id == consultant.id %>
          <option value='<%= consultant.email %>' selected='selected'><%= consultant.email %></option>
        <% else %>
          <option value='<%= consultant.email %>'><%= consultant.email %></option>
        <% end %>
      <% end %>

    </select>
  <% end %>

  <input type='submit' value='Edit Ticket'>
</form>
