<h1><%= @ticket.name %></h1>

<form action='/tickets/<%= @ticket.id %>' method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type='hidden' name='name' value='<%= @ticket.name %>'><br />
  <input type='hidden' name='details' value='<%= @ticket.details %>'><br />
  <h4>Status:</h4> <select id="status" name="status">
    <% if @ticket.complete %>
      <option value="open">Open</option>
      <option value="complete" selected="selected">Complete</option>
    <% else %>
      <option value="open" selected="selected">Open</option>
      <option value="complete">Complete</option>
    <% end %>
  </select>


<% if @session_type == 'consultant' %>
  Client: <select id="client" name="client">
    <% @clients.each do |client| %>
    <% if @ticket.client_id == client.id %>
      <option value='<%= client.email %>' selected='selected'><%= client.email %></option>
    <% else %>
      <option value='<%= client.email %>'><%= client.email %></option>
    <% end %>

    <% end %>
  </select>
  Consultant: <select id="consultant" name="consultant">
    <% @consultants.each do |consultant| %>
      <% if @ticket.consultant_id == consultant.id %>
        <option value='<%= consultant.email %>' selected='selected'><%= consultant.email %></option>
      <% else %>
        <option value='<%= consultant.email %>'><%= consultant.email %></option>
      <% end %>
    <% end %>

  </select>
<% end %>

<input type='submit' value='Change Status'>

</form>

<h4>Created on:</h4><%= @ticket.created_at.strftime("%Y-%m-%d, %I:%M%p") %><br /><br />
<% if @ticket.created_at.strftime("%Y-%m-%d, %I:%M%p") != @ticket.updated_at.strftime("%Y-%m-%d, %I:%M%p") %><h4>Last updated on:</h4><%= @ticket.updated_at.strftime("%Y-%m-%d, %I:%M%p") %><br /><br /><% end %>

<h4>Description:</h4>
<p><%= @ticket.details %></p>


<form action='/tickets/<%= @ticket.id %>/edit' method='GET'><input type='submit' value='Edit'></form>
<% if @session_type == 'consultant' %>
  <form action='/tickets/<%= @ticket.id %>' method='POST'><input type="hidden" name="_method" value="DELETE"><input type='hidden' value=''><input type='submit' value='Delete'></form>
<% end %>
<% if @consultant %>
  Assigned to: <a href='/consultants/<%= @consultant.id %>'><%= @consultant.email %></a>
<% else %>
  <p>This ticket is not assigned to a consultant.</p>
<% end %>
<br />
<% if @client %>
  Requester: <a href='/clients/<%= @client.id %>'><%= @client.email %></a>
<% else %>
  <p>This ticket is not assigned to a client.</p>
<% end %>

<h4>Comments</h4>

<form action='/comments' method='POST' >
  <textarea name='content'></textarea><br />
  <input type='hidden' name='ticket_id' value='<%= @ticket.id %>'><br />
  <input type='submit' value='Create Comment'><br />
</form>
<br />

<% if @ticket.comments %>
  <% @ticket.comments.each do |comment| %>
    <div>
      <%= comment.content %>

      <% @visitor_is_commentor = false %>
      <% if comment.client_id %>

      <% @visitor_is_commentor = true if @session_type == 'client' && @user_id == comment.client.id %>
        <br />– <a href='/clients/<%= comment.client_id %>'><%= Client.find_by(id: comment.client_id).email %></a>, <%= comment.created_at.strftime("%Y-%m-%d, %I:%M%p") %>

      <% elsif comment.consultant_id %>

      <% @visitor_is_commentor = true if @session_type == 'consultant' && @user_id == comment.consultant.id %>


        <br />– <a href='/consultants/<%= comment.consultant_id %>'><%= comment.consultant.email %></a>, <%= comment.created_at.strftime("%Y-%m-%d, %I:%M%p") %>
      <% end %>
    </div>
    <div>
      <% if @visitor_is_commentor %><a href='/comments/<%= comment.id %>/edit'>Edit Comment</a><% end %>
    </div>
    <br />
  <% end %>
<% else %>
  <p>There are no comments.</p>
<% end %>
